template
    nav(slot="navigation" ref="container" aire height-1-1).uk-navbar-container
        aire-button(
            repeat.for="panel of panels"
            ref="controls[$index]"
            click.delegate="open(panel)"
        )
            dynamic-html(html.bind="panel.header")
        div(ref="content")
        slot

