doctype html
html(lang='en')
    head
        meta(charset="utf-8")

        link(rel="stylesheet" href="../themes/light/aire.css")
        script(src="/jspm_packages/npm/uikit@3.1.5/dist/js/uikit.min.js")
        script(src="/jspm_packages/npm/uikit@3.1.5/dist/js/uikit-icons.min.js")
        script(src="/jspm_packages/system.js")
        script(src="/jspm.config.js")
        script.
            System.import('aurelia-bootstrapper')



    body(aurelia-app="docs/main")

        .uk-position-center.flex-center
            .uk-text-primary(uk-spinner="ratio:4")
            .uk-text-large Aurelia Aire
            .uk-text-small Curated Aurelia/UIKit Bindings
