doctype html
head
    meta(charset="utf-8")

    script(src="/jspm_packages/system.js")
    script(src="/jspm.config.js")
    script.
        System.import('aurelia-bootstrapper');
body(aurelia-app="docs/index")
