doctype html
html.theme-light
    head
        meta(charset="utf-8")
        title
        meta(name="viewport" content="width=device-width, initial-scale=1")


        link(rel="stylesheet" href="/styles/splash.css")
        script(src="/jspm_packages/system.js")
        script(src="/jspm.config.js")
        script.
            System.import('aurelia-bootstrapper')

    body(aurelia-app="docs/main")
        section#aire-splash
            .left
                div.wrapper
                    .spinner
                        i
                        i
                        i
            .right
                h1 Aire
                h2 Powerful Components for Beautiful Applications

