template
    aire-viewport(anchor="true")
        aire-header
            navbar-location(left)
                aire-image(source="assets/icons/aire.svg" width="48", height="48" aire navbar-item logo)
                    p.primary Aire

        aire-page(hero)
            aire-image(source="assets/icons/aurelia-uikit.svg"  width="256")
            .text
                | Beautiful, Enterprise-grade components built on Aurelia and UIKit
            p.uk-margin
                aire-button(primary href="#/docs") Get Started
                aire-button(secondary) Examples
        aire-footer(small)
            div(aire padding align-center)
                p.primary version 1.0.0
