template
    .application-grid(aire-grid)
        .application(repeat.for="application of applications")
            .tag
                i.fal.fa-check-square
            .info
                .field
                    span ${application.name}
                    span Created ${application.date}
                    span Owner: System
                    span Public
                        i.fal.fa-plus



            .icon
                img(src="./assets/brand-icons/${application.icon}")
            .baseline
                i.fal.fa-info-square
                i.fal.fa-external-link-square.success
                i.fal.fa-minus-square.danger

    aire-list(items.bind="['one', 'two', 'three']" divider ordered)

    aire-table(striped hover caption="heck")
        aire-column(shrink)
            aire-table-header(content="shrink")
            aire-table-header(content="demo1")
            aire-table-cell(content="1")
            aire-table-cell(content="2")
            aire-table-cell(content="3")
            aire-table-footer(content="foot")
        aire-column(expand)
            aire-table-header(content="this column should be expanded")
            aire-table-header(content="demo2")
            aire-table-cell(content="Lorem ipsum dolor sit amet")
            aire-table-cell(content="Lorem ipsum dolor sit amet")
            aire-table-cell(content="Lorem ipsum dolor sit amet")
            aire-table-footer(content="Blorp")
