template
    aire-page(aire)
        aire-tab-panel(router.bind="router" bottom aire height-1-1)
            router-view(aire active padding)
        a(uk-close aire position-top-right style="margin:24px;")
