template
    aire-viewport
        div(ref="container" aire height-1-1 width-1-1)
        div(slot="right")
            aire-navbar(light small rotate right)

                button
                    i.fal.fa-home
                    span Hello

        //.right(slot="right" style="border:1px solid red; width:30px" )

