template
    aire-viewport
        div(ref="container" aire height-1-1 width-1-1)
        div(slot="right")
            aire-navbar(light small rotate right target.bind="drawer")
                aire-panel
                    aire-header
                        i.fal.fa-code-merge
                        h1 hello

                aire-panel
                    aire-header
                        i.fal.fa-palette
                        span Palettes
                    aire-body

                aire-panel(click.trigger="show()" active="true")
                    aire-header
                        i.fal.fa-brackets-curly
                        span Generated
                aire-panel
                    aire-header
                        i.fal.fa-code-merge
                        span History


                aire-drawer(
                    ref="drawer"
                    host="ancestor:nav"
                    visible.bind="drawerOpen"
                    opens="left" width="400"
                )






                //aire-drawer(host="ancestor:nav" visible.bind="drawerOpen" opens="left" width="400")
                //
                //    h1 Hello
        //.right(slot="right" style="border:1px solid red; width:30px" )

