@import "../mixins";

@mixin nav-border() {
  border-right: 1px solid $background-primary-background;
  border-top: 1px solid $background-primary-background;
  border-bottom: 1px solid $background-primary-background;
}

aire-navigation, .navigation {
  width: 2em;
  background: $background-primary-background;
  border-left:none;
  position:fixed;
  display: block;
  top:30%;
  left:0;
  font-size: 1.2em;
  cursor: pointer;

  &.child {
    font-size: 1em;
    position:relative;
  }


  span.label {
    display:inline-block;
    height:2em;
    line-height:2em;
    margin-top:-1px;
    margin-left:0.5em;
    padding: 0 1em;
    position: absolute;
    width:4em;
    max-width:4em;
    @include nav-border;
    vertical-align: middle;
  }

  @include nav-border;
  @include base-component;
  @include animate-transitions;
  @include align-text('i', 2em);
  aire-button {
    .uk-button {
      @include nav-border;
    }
  }
}

