@import "../mixins";


aire-navigation, .navigation {
  box-sizing:border-box;
  width: 80px;
  position:fixed;
  display: block;
  top:30%;
  font-size: 1em;
  cursor: pointer;

  background-color: $side-nav-background-color;
  color: $side-nav-color !important;
  border-left: .5em solid $side-nav-border-color;

  &:hover {
    transition: 0.4s;
    color: $blue-purple !important;
    border-left: .5em solid $blue-purple;
  }
  //color: $global-color;
  //border: 1px solid $global-primary-highlight;

  &.child {
    margin-left:-0.5em;
    font-size: 1em;
    position:relative;
    border-top: 1px solid $side-nav-color;
  }


  span.label {
    border-top:1px solid transparent;
    border-left:1px solid $side-nav-color;
    color: $lightest-gray;
    box-sizing:border-box;
    background-color: $side-nav-background-color;
    display:inline-block;
    height:79px;
    line-height:79px;
    margin-left:28px;
    font-weight:bold;
    position: absolute;
    width:160px;
    max-width:160px;
    vertical-align: middle;
    text-align: center;
  }

  @include base-component;
  @include animate-transitions;
  @include align-text('i', 80px, 1.75em);
  aire-button {
    .uk-button {
      //@include nav-border;
    }
  }
}

