
header {
  .uk-breadcrumb > :last-child > * {
    color: $primary;
    text-decoration: underline;
  }

  h1 {
    margin:0;
    margin-left:12px;
    font-size: 1.2em;
    font-weight:200;
    border-right: 2px solid white;
    padding-right: 8px;
  }
}