$fa-font-path: '../../../themes/webfonts';
@import "colors";

router-view {
  display:block;
  height:100%;
}

nav {
  .uk-logo {
    color: $purple;
  }
}

//@import 'variables-theme.scss';
//@import 'mixins-theme.scss';
//
//@import 'uikit-theme.scss';
//@import "light";
//@import "solid";
@import "fontawesome";
@import "base";

