$fa-font-path: '../../../themes/webfonts';
@import "colors";

body > router-view {
  height:100%;

}
router-view {
  display:block;
}

nav {
  .uk-logo {
    color: $purple;
  }
}

/**
biggest font size
 */

$global-primary-background: $purple;
$global-xxlarge-font-size: 32px;
$global-large-font-size: 20px;

.uk-text-lead {
  font-weight:300;
}

.page {
  padding-top:48px;
  h1 {
    i {
      font-size:20px;
      margin-right:16px;
    }
  }
}

aire-section {
  h1 {
    font-size:$global-large-font-size;
  }
}

p.note {
  span.uk-label {
    margin-right:8px;
  }

}

@import 'variables-theme.scss';

.example-contents {
  border: 1px solid $global-border;
  width:100%;
  min-height: 64px;
  padding:8px;
  margin-bottom:24px;
}


@import 'mixins-theme.scss';

@import 'uikit-theme.scss';
@import "light";
@import "solid";
@import "fontawesome";
@import "duotone";
@import "base";


div.result-container {
  display:flex;
  flex-direction:row-reverse;
  flex-wrap: wrap;

  div.result {
    margin-right:8px;
    margin-bottom:8px;
    i {
      margin-right:4px;
    }
  }
}

.uk-float-right {
  margin-left:auto;
}

.sidebar-right {
  width: 200px;
  left: calc(100% - 260px);
  top: 60px;
  position: absolute;
}

.viewport-anchor {
  & ~ header {
    background-color: white;
  }

  & ~ footer {
    background-color: white;
  }
}

ul.component-list {
  li  {
    i {
      margin-right: 32px;
    }
    a {
      min-width:256px;
      width:256px;
      display:inline-block;
    }
  }
}


/**
Remove me or move me!
 */

.danger {
  color: $global-danger-background;
}

.success {
  color: $global-success-background;
}

.application-grid {
  padding:32px;
  .application {
    margin-left:24px;
    border-radius: 2px;
    height:100px;
    width:164px;
    position:relative;
    border: 1px solid $global-border;
    display:flex;

    flex-direction: column;
    .field {
      padding-top: 16px;
      padding-left:4px;
      color: $dark-gray-2;
      span:first-child {
        font-weight: bold;
        display:block;
      }
      span:not(:first-child) {
        font-size: 8pt;
        margin-top:-4px;
        display:block;
        color: $dark-blue;
        i {
          margin-left:4px;
          font-weight:bold;
          color: $green;
        }
        span {
          display: inline
        }
      }

    }
    .tag {
      position: absolute;
      right:4px;
      color: $green;
    }

    .info {

      margin-left:-24px;
      height:80%;
      display:flex;
      flex-direction: row;
      justify-content: flex-start;
    }

    .baseline {
      border-top: 1px solid $global-border;
      height:20%;
      flex-direction: row;
      display:flex;
      justify-content:flex-end;
      i {
        margin-top:2px;
        margin-left:2px;
        display: block;
      }
    }


    .icon {
      display:flex;
      justify-content: center;
      align-items: center;
      padding:4px;
      position: absolute;
      border-radius: 2px;
      width: 32px;
      height:32px;
      border: 1px solid $purple;
      left:8px;
      top: -16px;
    }
  }

}


.details {
  width:100%;
  display: flex;
  flex-direction: row;
  .dt {
    display:flex;
    flex-direction:column;

  }
  padding-bottom: 8px;
}

.columns {
  display:flex;
  flex-direction: row;
  .right {
    margin-left:24px;
  }
}

.section {
  span.uk-label {
    i {
      margin-right:4px;
      color: $blue-purple;
    }
    &.success {
      i {
        margin:0;
      }
      background-color: #2385af;
      color: white;
    }
    font-size: 0.7em;
    margin-left:4px;
    margin-right:4px;
    background-color: #a366a3;
  }
  input {
    margin-right: 8px;
  }
  h1 {
    font-weight:bold;
    display:block;
    width: 100%;
    font-size: 0.9em;
    padding-bottom: 8px;
    border-bottom: 1px solid $global-border;
  }
}
.information {
  margin-top:8px;
  height:400px;
  svg {
    max-width: unset;
  }
}
.line {
  font-size:0.9em;
  span:first-child {
    font-weight:bold;
    margin-right:4px;
  }
  display:inline-block;
  margin-left:8px;
  label {
    margin-right: 8px;
  }
}
.icon {
  &.small {
    width:32px;
    height:32px;
  }
  border: 1px solid $global-border;
  border-radius: 4px;
  width:64px;
  height:64px;
  display:inline-block;
}