.sunshower-card-holder, .sunshower-form-holder, .sunshower-content-holder {
  max-width: 800px;
  margin: 0 auto;
  padding: $standard-padding*2;
  box-sizing:border-box;
}

html {
  height: 100%;
  width:100%;
}

body {
  padding: 0;
  margin: 0 !important;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

router-view, main {
  width:100%;
}

.full-size {
  width:100%;
  height:100%;
  position:relative;
}

.vertical-holder {
  @extend .full-size;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.vertical-aligner {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.loader-holder {
  @extend .vertical-holder;
  text-align:center;

  .loader {
    @extend .vertical-aligner;
  }

}

.extender {
  position: absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
}

.backsplash {
  @extend .vertical-holder;

  .sunshower-form-holder {
    @extend .vertical-aligner
  }
}

a {
  cursor: pointer;
}

.mdc-toolbar__menu-icon {
  padding: 16px !important;
  width: $nav-height;
  height: $nav-height;
  box-sizing: border-box;
}

.mdc-toolbar__title {
  margin-left: $standard-padding !important;
}

.mdc-grid-list--header-caption .mdc-grid-tile__primary-content:not(img) {
    padding-top:50px;
}


.sunshower-card-holder {
  text-align:center;

  card {
    display: inline-block;
    margin: 0 $standard-padding $standard-padding $standard-padding;
  }

  card, .mdc-card {
    width: 200px;
  }

  .mdc-card__media--square {
    height: 200px;
  }

}

.mdc-card__media {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  padding: $standard-padding;
  background-origin: content-box;
  //background-image is set in card.pug
}

.mdc-card__media--square::before {
  margin-top:0;
}

.mdc-card__title {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-overflow:ellipsis;
}

//drawer-related stuff

.sunshower-drawer-mini {
  @extend .mdc-toolbar-fixed !optional; //todo fix
  display:flex;
  flex: 1 1 auto;
  height:100%;
  box-sizing:border-box;
}

.header-info {
  font-size: 1.2rem;
}

.mdc-drawer, .mdc-drawer__drawer {
  .mdc-list-item {
    height: $nav-height;
    box-sizing: border-box;


    &.mdc-list-group__subheader {
      margin: 0;
    }
  }

  .mdc-list--dense {
    padding-left:0 !important;
    margin-top:0 !important;
    padding-top:0 !important;

    .mdc-list-item {
      padding-left: 72px !important; //padding-left + icon + margin-right of icon
      cursor: pointer;
    }
  }
}

.sunshower-toggler {
  cursor: pointer;
}

[slot="content"], [role="content"] {
  padding: 0 $standard-padding;
}

a.mdc-card {
  text-decoration: none;
}


.sunshower-fab--absolute {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

@media(min-width: 1024px) {
  .sunshower-fab--absolute {
    bottom: 1.5rem;
    right: 1.5rem;
  }
}

a.mdc-fab {
  text-decoration:none;
}

.mdc-drawer--permanent {
  width: $nav-height;

  .mdc-list-item {
    height:$nav-height;
  }

  .mdc-list-item__graphic {
    margin: 0 auto;
  }

}

.mdc-drawer--temporary .mdc-drawer__header::before {
    padding-top: $nav-height;
}

.mdc-toolbar {
  min-height:$nav-height !important;
}

.menu-button {
  cursor: pointer;
}