.sunshower-card-holder, .sunshower-form-holder, .sunshower-content-holder {
  max-width: 800px;
  margin: 0 auto;
  padding: $standard-padding*2;
  box-sizing:border-box;
}

html {
  height: 100%;
  width:100%;
}

body {
  padding: 0;
  margin: 0 !important;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

router-view, main {
  width:100%;
}

.full-size {
  width:100%;
  height:100%;
  position:relative;
}

.vertical-holder {
  @extend .full-size;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.vertical-aligner {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.loader-holder {
  @extend .vertical-holder;
  text-align:center;

  .loader {
    @extend .vertical-aligner;
  }

}

.backsplash {
  @extend .vertical-holder;

  .sunshower-form-holder {
    @extend .vertical-aligner
  }
}

a {
  cursor: pointer;
}


.sunshower-drawer-mini {
  @extend .mdc-toolbar-fixed !optional; //todo fix
  display:flex;
  flex: 1 1 auto;
  height:100%;
  box-sizing:border-box;
}


.mdc-toolbar__menu-icon {
  padding: 16px !important;
}


.mdc-grid-list--header-caption .mdc-grid-tile__primary-content:not(img) {
    padding-top:50px;
}


.sunshower-card-holder .mdc-card {
  width: 200px;
  height: 200px;
}