//TODO: colors -> variables

.mdc-stepper-horizontal-alternative {
  display: table;
  width: 100%;
  margin: 0 auto;


  $steps: 2, 3, 4, 5;
  @each $step in $steps {
    &.mdc-steps-#{$step} .mdc-stepper-step {
      width: percentage(1/$step);
    }
  }

  .mdc-stepper-step {
    display: table-cell;
    position: relative;
    padding: 24px;
    cursor: pointer;
    &:hover {
      background-color: rgba(0, 0, 0, 0.06);
    }
    &:active {
      background-color: rgba(0, 0, 0, 0.06);
      border-radius: 15% / 75%;
    }
    &:first-child:active {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    &:last-child:active {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &:hover .mdc-stepper-circle {
      background-color: #757575;
    }
    &:first-child .mdc-stepper-bar-left, &:last-child .mdc-stepper-bar-right {
      display: none;
    }
    .mdc-stepper-circle {
      width: 24px;
      height: 24px;
      margin: 0 auto;
      background-color: #9E9E9E;
      border-radius: 50%;
      text-align: center;
      line-height: 2em;
      font-size: 12px;
      color: white;
    }
    &.active-step .mdc-stepper-circle {
      background-color: rgb(33, 150, 243);
    }
    &.step-done .mdc-stepper-circle {
      &:before {
        content: "\2714";
      }
      * {
        display: none;
      }
    }
    &.editable-step .mdc-stepper-circle {
      * {
        display: none;
      }
      -moz-transform: scaleX(-1);
      /* Gecko */
      -o-transform: scaleX(-1);
      /* Opera */
      -webkit-transform: scaleX(-1);
      /* Webkit */
      transform: scaleX(-1);
      /* Standard */
      &:before {
        content: "\270E";
      }
    }
    .mdc-stepper-title {
      margin-top: 16px;
      font-size: 14px;
      font-weight: normal;
      text-align: center;
      color: rgba(0, 0, 0, 0.26);
    }
    .mdc-stepper-optional {
      text-align: center;
      color: rgba(0, 0, 0, 0.26);
    }
    &.active-step {
      .mdc-stepper-title {
        font-weight: 500;
        color: rgba(0, 0, 0, 0.87);
      }
      &.step-done .mdc-stepper-title, &.editable-step .mdc-stepper-title {
        font-weight: 300;
      }
    }
    .mdc-stepper-optional {
      font-size: 12px;
    }
    .mdc-stepper-bar-left {
      position: absolute;
      top: 36px;
      height: 1px;
      border-top: 1px solid #BDBDBD;
      left: 0;
      right: 50%;
      margin-right: 20px;
    }
    .mdc-stepper-bar-right {
      position: absolute;
      top: 36px;
      height: 1px;
      border-top: 1px solid #BDBDBD;
      right: 0;
      left: 50%;
      margin-left: 20px;
    }
  }

}

//https://codepen.io/sharafat_8271/pen/KVWMXP
