@import "_variables";

@import "@material/theme/mdc-theme";
@import "@material/button/mdc-button";
@import "@material/toolbar/mdc-toolbar";
@import "@material/typography/mdc-typography";


body {
  @extend .mdc-typography;
  @extend .mdc-theme--text-primary-on-light;
  background: $mdc-theme-background-lighter;
}

h1, h2, h3, h4, h5, h6 {
  font-weight:200;
  color: $mdc-theme-secondary;
}

h1 {
  @extend .mdc-typography--display1;
}

h2 {
  @extend .mdc-typography--headline;
}

//ul {
//  @extend .mdc-list;
//
//  li {
//    @extend .mdc-list-item
//  }
//}

main {
  border-top: 5px solid $mdc-theme-primary;
}


.mdc-text-field {
  @extend .mdc-text-field--outlined;
}

#styleguide {

  & > section {
    margin: 0 auto 100px auto;
    max-width: 800px;
    padding: 16px;
  }
  & > h1, & > h2, & > h3, & > h4, & > h5, & > h6 {
    margin-left: 16px;
  }
}

input[type="button"], input[type="submit"], button, a.mdc-button {
  @extend .mdc-button;
  @extend .mdc-ripple-upgraded;

}

.mdc-dialog__footer__button {
  @extend .mdc-ripple-upgraded;
}

.mdc-dialog__surface {
  @include mdc-elevation(12);
}


.backsplash {
  @extend .gradient;

  .sunshower-form-holder {
    background-color: rgba(255, 255, 255, 0.5);
    padding: $standard-padding*4;
    padding-top: $standard-padding*2;
    border-radius: 4px;


    a {
      color: $mdc-theme-secondary;
    }
  }
}



.gradient {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e57373+0,fff8e1+75 */
  background: rgb(229,115,115); /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba(229,115,115,1) 0%, rgba(255,248,225,1) 75%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(229,115,115,1) 0%,rgba(255,248,225,1) 75%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(229,115,115,1) 0%,rgba(255,248,225,1) 75%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e57373', endColorstr='#fff8e1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.success {
  color: $material-color-teal-800;
}


.mdc-toolbar {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1a237e+0,3f51b5+99 */
  background: #1a237e; /* Old browsers */
  background: -moz-linear-gradient(left, #1a237e 0%, #3f51b5 50%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #1a237e 0%,#3f51b5 50%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #1a237e 0%,#3f51b5 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a237e', endColorstr='#3f51b5',GradientType=1 ); /* IE6-9 */
  color: white;
}

.mdc-drawer--temporary {
  .mdc-drawer__header::before {
    padding-top: 64px; //height of nav; todo set dynamically
  }


  .mdc-drawer__header-content {
    background-color: #1a237e !important;
    color: white !important;
  }
}


a.mdc-toolbar__title {
  color: inherit;
}



.sunshower-card-holder {

  .mdc-card__title {
    @extend .mdc-typography--headline;
    text-transform: capitalize;
    text-align: center;
    line-height:3rem;
  }

  .mdc-card__title {
    background-color: $mdc-theme-primary;
    color: white;
  }

  .mdc-card__media:hover .mdc-card__title {
    background-color: $mdc-theme-secondary;
  }
}

.header-info {
  .material-icons {
    vertical-align: middle;
  }
}


.mdc-tab-bar-scroller {
  background-color: $mdc-theme-primary-light;

  .mdc-tab-bar {
    margin:0;
  }
}

.mdc-tab {
  min-width:120px;
}

.mdc-drawer__content .mdc-list-group {
  border-width: 1px 0 1px 0;
  border-style: solid;
  border-color: $mdc-theme-background;

  &.expanded {
    border-color: $material-color-blue-grey-100;
  }
}

.mdc-stepper-step {

  .mdc-stepper-title, .mdc-stepper-optional {
    color: $mdc-theme-primary-light !important;
  }

  &.active-step .mdc-stepper-title {
    color: $mdc-theme-primary !important;
  }

  .mdc-stepper-circle {
    background-color: $mdc-theme-primary-light !important;
    color: $mdc-theme-background !important;
  }

  &.active-step .mdc-stepper-circle {
    background-color: $mdc-theme-primary !important;
    color: $mdc-theme-background !important;
  }

  .mdc-stepper-bar-left, .mdc-stepper-bar-right {
    border-color: $mdc-theme-background !important;
  }


}

aside.mdc-layout-grid__cell {
  border-top: 5px solid $mdc-theme-primary;
  padding: $standard-padding;
  background-color: white;
  font-size:.9rem;

  h2 {
    font-size: 1.2rem;
  }
}