$text: $material-color-blue-grey-900;
$bg: $mdc-theme-background-lighter;
$bg-chrome: $mdc-theme-background-lighter;
$border-color: $material-color-blue-grey-100;


.lm_goldenlayout {
  background: $bg-chrome;
}

.lm_content {
  background: $bg !important;
  border: 1px solid $border-color;
}

.lm_header {

  .lm_tab {
    cursor: default;
    background: $bg-chrome;
    border:1px solid $border-color !important;
    border-top-width:5px !important;
    border-bottom: none !important;
    color: $text;
    text-align: center;
    text-decoration: none;
    text-transform:uppercase;
    white-space: nowrap;
    font-size: 0.875rem;
    line-height: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.04em;
    padding: 0 $standard-padding !important;

    &.lm_active {
      background: $bg;
      border-top-color: $mdc-theme-primary-light !important;
    }
  }
}

