$base: $material-color-amber-50;
$color0: white;
$color1: lighten($mdc-theme-background, 7.5%);
$color2: $material-color-amber-200;
$color3: $material-color-amber-500; // Appears 2 times
$light: $material-color-blue-grey-100;
$grey: $material-color-blue-grey-500;
$dark: $material-color-blue-grey-900;
$shadowcolor: $color3;
$text: $material-color-blue-grey-900;
$bg: #F2F2F0;
$bg-chrome: $mdc-theme-background;
$border-color: #e4e4e4;


.lm_goldenlayout {
  background: $bg-chrome;
}

.lm_content {
  background: $bg;
  border: 1px solid $border-color;
}

.lm_header {

  .lm_tab {
    cursor: default;
    background: $bg-chrome;
    border:1px solid $border-color !important;
    border-bottom: none !important;
    color: $material-color-blue-grey-900;
    text-align: center;
    text-decoration: none;
    text-transform:uppercase;
    white-space: nowrap;
    font-size: 0.875rem;
    line-height: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.04em;

    &.lm_active {
      background: $bg;
      border-top: 5px solid $mdc-theme-primary-light !important;
    }
  }
}

