$base: $material-color-amber-50;
$color0: white;
$color1: lighten($mdc-theme-background, 7.5%);
$color2: $material-color-amber-200;
$color3: $material-color-amber-500; // Appears 2 times
$light: $material-color-blue-grey-100;
$grey: $material-color-blue-grey-500;
$dark: $material-color-blue-grey-900;
$shadowcolor: $color3;
$text: $material-color-blue-grey-900;
$bg: lighten($mdc-theme-background, 7.5%);


.lm_goldenlayout {
  background: $mdc-theme-primary-light;
}

.lm_content {
  background: $bg;
  border: none;
}


//yoinked from mdc tabs, need to refactor
.lm_header {

  .lm_tab {
    background: $mdc-theme-primary-light;
    border:none;
    color: $material-color-blue-grey-900;
    border-bottom: 2px solid $mdc-theme-primary-light;

    &.lm_active {
      border-color: $material-color-blue-grey-900; //todo fix color
    }
  }
}