@import "../colors";
article.aire-page {
  width:100%;
  height:100%;
  position: relative;

  &.expand {
    position: absolute;
    top:0;
    bottom:0;
    left: 0;
    right:0;
  }
  &.primary {
    background-color: white;

  }

  &.primary-inverse {
    background-color: #f9f9ff;
  }


  &.padded {
    padding:12px;
  }

}



