@import "../colors";
article.aire-page {
  width:100%;
  height:100%;


  &.hero {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    .text {
      font-size: 1.4em;
      max-width:400px;
      color: $purple;
      text-align: center;
    }

    .uk-button {

      &.uk-button-secondary {
        background-color: $purple;
        color: white;
      }


      &.uk-button-primary {
        border-color: $purple;
        background-color: white;
        color: $purple;
      }
      border-radius: 500px;
    }
    .uk-button + .uk-button {
      margin-left: 8px;
    }
  }

}



