@import "../mixins";

$small-nav-height: 38px;
$large-nav-height: 64px;



body {
  display: flex;
  flex-direction: column;
}

.right {
  margin-left: auto;
}

header {
  box-sizing: border-box;
  justify-self: flex-start;
  display: flex;
  align-items: center;
  ul.uk-breadcrumb {
    margin: 0 0 0 16px;
    padding:0;
    height: $small-nav-height;
    line-height: $small-nav-height;
  }

  h1 {
    color: $primary;
  }

  &.h-large {
    height:$large-nav-height;
  }
  .uk-input {
    border: none;
    height: $small-nav-height;

    &::selection {
      background: unset;
    }
  }
}

footer {
  justify-self: flex-end;
  height: $small-nav-height;
  display: flex;
  flex-direction: row;
  align-items: center;

  & > *:not(.control):not(.aire-button) {
    margin-left:8px;
    &.right {
      justify-self: flex-end;
    }
    &.left {
      justify-self: flex-start;
    }
  }

  &.f-large {
    height: $large-nav-height;
  }
}

div.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;

  nav {
    justify-content: flex-start;
    width: 64px;
    min-width: 64px;
    &.small {
      width: 32px;
      min-width: 32px;
    }
  }


  main {
    height: 100%;
    width: 100%;
    display:flex;
    flex: 1;
    flex-direction: row;
  }



  /**
  Header included
   */
  &.w-header {
    height: calc(100% - #{$large-nav-height});
  }

  /**
  Footer included
   */
  &.w-footer {
    height: calc(100% - #{$small-nav-height});

    &.f-large {
      height: calc(100% - #{$large-nav-height});
    }
  }

  &.w-footer.f-large {
    height: calc(100% - #{$large-nav-height});
  }


  /**
  Header and footer included
   */
  &.w-header.w-footer {
    height: calc(100% - #{$small-nav-height + $large-nav-height});

    &.f-large {
      height: calc(100% - #{2 * $large-nav-height});
    }
    &.h-small {
      height: calc(100% - #{2 * $small-nav-height});
    }

  }


}

