template.aire-drawer
    div(
        ref="drawer"
    ).content
        slot(name="header")
        .drawer-main(
            ref="body"
            mouseenter.trigger="doRefresh()"
            mouseleave.trigger="doRefresh()"
        )
            slot

