template
    section.aire-panel(show.bind="visible")
        header.aire-header
            slot(name="header")
        article.aire-body(ref="body")
            slot
        footer.aire-footer
            slot(name="footer")
