template
    ul(ref="header")
        li(repeat.for="nav of router.navigation")
            a(click.delegate="navigate($index)") ${nav.title}
    .uk-switcher(ref="contents")
        template(if.bind="router")
            aire-tab(repeat.for="nav of router.navigation" title.bind="nav.title")
        slot
        .uk-position-top-right
