template
    table.uk-table(ref="table")
        caption(if.bind="caption") ${caption}
        thead(if.bind="header")
            th(repeat.for="column of columns") ${column}
        tbody
            tr(repeat.for="row of source")
                td(repeat.for="cell of row") ${cell}
        tfoot(if.bind="footer")
            td(repeat.for="column of columns") ${column}