template
    table.uk-table(ref="table")
        caption Baby's First Component
        thead
            tr
                th Column 1
                th Column 2
        tbody
            tr
                td Boop
                td Beep
            tr
                td Porg
                td Norg
        tfoot
            tr
                td One Foot
                td Two Foot

