template
    div(ref="element").mdc-tab-bar-scroller
        .mdc-tab-bar-scroller__indicator.mdc-tab-bar-scroller__indicator--back
            a.mdc-tab-bar-scroller__indicator__inner.la.la-angle-left(href='#', aria-label='scroll back button')
        .mdc-tab-bar-scroller__scroll-frame
            nav.mdc-tab-bar.mdc-tab-bar-scroller__scroll-frame__tabs
                slot(name="tabs")
                span.mdc-tab-bar__indicator
        .mdc-tab-bar-scroller__indicator.mdc-tab-bar-scroller__indicator--forward
            a.mdc-tab-bar-scroller__indicator__inner.la.la-angle-right(href='#', aria-label='scroll forward button')

    div.panels            
        slot(name="content")
            
