template
    div.mdc-form-field.mdc-text-field.mdc-text-field--outlined.mdc-text-field--upgraded(ref="element" class.bind="icon !== '' ? 'mdc-text-field--with-trailing-icon' : ''")
        input.mdc-text-field__input(id.bind="getId()" type.bind="type" value.bind="value")
        label.mdc-text-field__label(for.bind='getId()') ${label} 
        i.material-icons.mdc-text-field__icon(if.bind="icon !== ''") ${icon}
        .mdc-text-field__outline.mdc-ripple-upgraded
            svg
                path.mdc-text-field__outline-path
        .mdc-text-field__idle-outline
