template
    header.mdc-toolbar
        .mdc-toolbar__row
            section.mdc-toolbar__section.mdc-toolbar__section--align-start
                a.mdc-toolbar__menu-icon.menu(click.delegate="onMenuClick()", if.bind="hasMenu")
                    i.la.la-fw.la-navicon
                a.mdc-toolbar__title(href="/#/") Sunshower