@import "../colors";


header {
  &.viewport {
    background-color: $emphasis;
    //background-color: $light-gray-3;
  }
}

footer {
  border-top: 1px solid $tertiary;

  &.viewport {
    background-color: $darker-blue;
  }
}

header, footer {


  color: $white;

  button {
    background-color: $white;
    border: none !important;
    width: 32px;
    height: 38px;
  }


  button.control, a.control {
    width: 64px;
    height: 38px;
    line-height: 38px;
    background-color: $emphasis;
    padding: 0;
    color: $tertiary;

    &:hover {
      background-color: $secondary;
      transition-duration: 0.4s;
    }
  }
}

.main, main {
  nav.uk-navbar-container {
    background-color: $primary;
    display: flex;
    flex-direction: column;

    button {
      border: none !important;

      span {
        line-height: 0;
        display: block;
        text-transform: none;
      }

      &:hover {
        background-color: $secondary;
        transition-duration: 0.4s;
      }

      &.active {
        background-color: $tertiary;
        color: white;
      }

      &.active:after {
        content: '';
        width: 0;
        height: 0;
        position: absolute;

        border-top: 8px solid transparent;
        border-left: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-right: 8px solid white;

        right: 0;
        margin-top: 10px;
      }

      background-color: $primary;
      color: lighten($tertiary, 60%);
      padding: 0;
      width: 64px;
      height: 64px;
    }


    &.light {

      background-color: $white;

      &.right {
        border-left: 1px solid $tertiary;
      }

      //background-color: $dark-blue;
      //color: $light-gray-1;

      button {
        color: $secondary;
        background-color: $white;

        &:hover {
          color: $white;
          background-color: $tertiary;
          transition-duration: 0.4s;
        }

      }
    }

    &.rotate {
      display: table;

      button {
        display:flex;
        flex-direction: column;
        height:130px;
        align-items: center;
        padding-top:50%;
        span {
          margin-top:calc(50% + 8px);
          transform:rotate(90deg);
        }
        width:32px;
      }

    }

    &.small {
      width: 32px;

    }
  }

}


.aire-drawer {
  background-color: $primary;
}
