
html, body {
  width:100%;
  height:100%;
  min-height:100%;
  min-width:100%;
  border: none;
  padding: 0;
  margin: 0;
  overflow:hidden;
}



template {
  display:block;
  width:100%;
  height:100%;
}

@import "notosans-fontface";
$aire-typography-font-family: "noto sans", "helvetica neue", "arial", sans serif !important;

* :not(.fal):not(.fab) {
  font-family: $aire-typography-font-family;
}

@import "perfect-scrollbar";



$base-h1-font-size: 32px;
$base-heading-font-weight: 100;


@import 'variables-theme.scss';
@import 'mixins-theme.scss';






@import 'uikit-theme.scss';
@import "light";
@import "brands";
@import "solid";

@import "fontawesome";

@import "nav/nav";
@import "layout/hero";
@import "layout/page";
@import "layout/viewport";
@import "layout/drawer";


p.primary, span.primary {
  color: $purple;
}


