template
    aire-viewport
        aire-header(small)
            aire-button(control)
                i.fal.fa-cloud-sun-rain
            location(left)
                aire-button(small text)
                    i.fal.fa-cog

        aire-navbar
            aire-button
                i.fal.fa-cog
            aire-button
                i.fal.fa-cog
                span hello
        aire-page
        aire-footer
            aire-button(control)
                i.fal.fa-cog
