
body {
  /*background-image: url(/assets/icons/splash-background.svg);*/
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

section#aire-splash {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  position: absolute;
  z-index: 15;
  top: 50%;
  left: calc(50% - 248px);
  display: flex;
  flex-direction: row;
  align-items: center;

}

section#aire-splash h1 {
  font-size: 2em;
  color: #a366a3;
}

section#aire-splash h2 {
  font-size: 1.4em;
  color: #888888;
  line-height:1.3em;
}

section#aire-splash div.right {
  padding-left: 24px;

}

section#aire-splash h1, h2 {
  font-weight:normal;
  margin:0 !important;
  padding: 0;
}


section.wrapper.dark {
  background: #313134;
}

div.spinner {
  -moz-animation: rotate 2s infinite linear;
  -webkit-animation: rotate 2s infinite linear;
  animation: rotate 2s infinite linear;
  position: relative;
  display: block;
  margin: auto;
  width: 80px;
  height: 80px;
}

div.spinner i {
  -moz-animation: rotate 3s infinite cubic-bezier(0.09, 0.6, 0.8, 0.03);
  -webkit-animation: rotate 3s infinite cubic-bezier(0.09, 0.6, 0.8, 0.03);
  animation: rotate 3s infinite cubic-bezier(0.09, 0.6, 0.8, 0.03);
  -moz-transform-origin: 50% 100% 0;
  -webkit-transform-origin: 50% 100% 0;
  transform-origin: 50% 100% 0;
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  border: solid 2px transparent;
  border-bottom: none;
}

div.spinner i:nth-child(1) {
  -moz-animation-timing-function: cubic-bezier(0.09, 0.3, 0.12, 0.03);
  -webkit-animation-timing-function: cubic-bezier(0.09, 0.3, 0.12, 0.03);
  animation-timing-function: cubic-bezier(0.09, 0.3, 0.12, 0.03);
  width: 56px;
  height: 28px;
  margin-top: -28px;
  margin-left: -28px;
  border-color: #7bb5cf;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

div.spinner i:nth-child(2) {
  -moz-animation-timing-function: cubic-bezier(0.09, 0.6, 0.24, 0.03);
  -webkit-animation-timing-function: cubic-bezier(0.09, 0.6, 0.24, 0.03);
  animation-timing-function: cubic-bezier(0.09, 0.6, 0.24, 0.03);
  width: 64px;
  height: 32px;
  margin-top: -32px;
  margin-left: -32px;
  border-color: #a366a3;
  border-top-left-radius: 52px;
  border-top-right-radius: 52px;
}

div.spinner i:nth-child(3) {
  -moz-animation-timing-function: cubic-bezier(0.09, 0.9, 0.36, 0.03);
  -webkit-animation-timing-function: cubic-bezier(0.09, 0.9, 0.36, 0.03);
  animation-timing-function: cubic-bezier(0.09, 0.9, 0.36, 0.03);
  width: 72px;
  height: 36px;
  margin-top: -36px;
  margin-left: -36px;
  border-color: #2385af;
  border-top-left-radius: 54px;
  border-top-right-radius: 54px;
}

div.spinner i:nth-child(4) {
  -moz-animation-timing-function: cubic-bezier(0.09, 1.2, 0.48, 0.03);
  -webkit-animation-timing-function: cubic-bezier(0.09, 1.2, 0.48, 0.03);
  animation-timing-function: cubic-bezier(0.09, 1.2, 0.48, 0.03);
  width: 80px;
  height: 40px;
  margin-top: -40px;
  margin-left: -40px;
  border-color: #660066;
  border-top-left-radius: 56px;
  border-top-right-radius: 56px;
}

@-moz-keyframes rotate {
  to {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  to {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
