template
    header.mdc-toolbar
        .mdc-toolbar__row
            section.mdc-toolbar__section.mdc-toolbar__section--align-start
                a.la.la-navicon.mdc-toolbar__menu-icon(href='#')
                span.mdc-toolbar__title Fuck widgets
    